body {
    font-family: sans-serif;
    display: flex;
    background-color:  rgb(222, 222, 222);
  }

  .container {
    background-color: white;
    margin: 20px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
  }

  h2 {
    margin-bottom: 20px;
  }

  input{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    margin-bottom: 15px;
  }
  button{
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 3px;
  }